{% extends "partials/base.html" %}
{% set active_page = "index" %}

{% block content %}
<section class="fill">
    <div class="container-fluid h-100">
        <header class="h-100 d-flex align-items-center justify-content-center">
            <div class="text-center">
                <h1 class="display-2">TBD</h1>
                <p class="lead">Site description</p>
                <a href="/dashboard" class="btn btn-primary btn-md">Get Started</a>
            </div>
        </header>
    </div>
</section>
{% endblock %}
