{% extends "partials/dashboard.html" %}
{% set active_page = "dashboard" %}
{% set dashboard_page = "goals" %}

{% block head %}

{% endblock %}

{% block dashboard_items %}
<div class="mx-4 mb-0 mt-2">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}

    <div class="alert alert-{{ category }}" role="alert">
        {{ message }}
    </div>

    {% endfor %}
    {% endwith %}
</div>
<div class="mx-4 mt-2 bg-white shadow-sm">
    <h2 class="m-2">Goals</h2>
    <form class="m-2" action="{{ url_for('goals.create') }}" method="POST">
        <input type="hidden" name="category" value="daily">
        <label for="amount">Daily</label>
        <div class="input-group">
            <input type="number" name="amount" class="form-control" id="amount" placeholder="Amount"
                   value="{{daily_goal.amount or 0}}" min=0>
            <button class="btn btn-sm btn-success" type="submit">Update</button>
        </div>
    </form>
</div>

{% endblock %}