.fill {
    height: calc(100vh - 56px);
}

.hero {
    background-size: cover;
    background-image: url("../images/ella-olsson-C1Q3qOTlegg-unsplash.jpg");
    background-color: rgba(0, 0, 0, 0.1);
    background-blend-mode: multiply;
}

.dashboard-item > .active {
    background-color: #212529FF !important;
}